# ==========================================
# fptunes - Free Pascal Compiler Config
# ==========================================

# 1. OUTPUT DIRECTORIES (Keeps src/ clean)
# ------------------------------------------
# Put the final executable in the /bin folder
-FEbin
# Put all compiled units (.ppu, .o) in the /obj folder
-FUobj

# 2. SOURCE DIRECTORIES
# ------------------------------------------
# Tell the compiler where to look for your .pas files
-Fusrc
-Fusrc/conversion
-Fusrc/provider
# (Add any future folders like -Fusrc/utils here)

# 3. BUILD MODES & OPTIMIZATIONS (Release Mode)
# ------------------------------------------
# Level 3 optimizations (Fastest execution)
-O3
# Smart linking (Drops unused code from the final binary)
-XX
# Strip debug symbols (Drastically reduces file size)
-Xs

# 4. COMPILER BEHAVIOR
# ------------------------------------------
# Stop after the first syntax error (don't flood the terminal)
-Se1
# Enable colorful terminal output for errors
-Cg
